In [1]:
from pycaret.classification import *
import pandas as pd

import warnings, os

In [2]:
warnings.filterwarnings('ignore')
os.chdir('..')

In [3]:
df = pd.read_csv('data/prepared_data.csv')
df.head()

,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none,test_passed
0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,1
1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,0,1
2,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,1
3,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
4,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1

In [4]:
clf = setup(data = df, target = 'test_passed')
best_model = compare_models()

In [5]:
tuned_model = tune_model(best_model, optimize = 'Accuracy', n_iter=50)

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [6]:
print(tuned_model)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=4787, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
import json 

with open('artifacts/columns.json', 'r') as file:
    columns_names = json.load(file)
columns_names = columns_names['columns'][:-1]
df = pd.DataFrame(columns=columns_names)
df.loc[0] = [0] * len(columns_names)
df

,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
list_election = ['gender_female', 'race_ethnicity_group A', "parental_level_of_education_associate's degree", 'lunch_free/reduced', 'test_preparation_course_completed']

for i in list(df.columns):
    if i in list_election:
        df.at[0, i] = 1
    else:
        df.at[0, i] = 0

df

,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none
0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0

In [17]:
#prepared_test = pd.read_csv('artifacts/prepared_test.csv')
df = predict_model(tuned_model, data= df)
df

,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none,prediction_label,prediction_score
0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0.6168